.list {
  font-size: 13px;
  width: fit-content;
  margin: auto;
  line-height: 15.6px;
  font-weight: 600;
  font-family: "SuisseIntl";
  letter-spacing: normal;
  text-transform: uppercase;
}

.listItem {
  margin-bottom: 16px;
}

.listItemInactive {
  margin-bottom: 16px;
  color: rgba(49, 41, 55, 0.4);
}

.listItemRow {
  display: flex;
  margin-bottom: 24px;
}

.listItemRow::before {
  content: "";
  display: inline-block;
  min-width: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid #5242ee;
  margin-right: 20px;
  box-sizing: border-box;
  margin-top: 7px;
}

.bg {
  top: 0;
  bottom: 0;
  left: 0;
}

.bg2 {
  bottom: 0;
  right: 0;
}

.bg3 {
  bottom: 0;
  left: 50%;
}
