.bg {
  top: 0;
  right: 0;
}

.bg2 {
  bottom: 0;
  right: 0;
}

.bg3 {
  bottom: 0;
  top: 50%;
  right: 0;
}

.eyeImg {
  filter: grayscale(100%) opacity(70%);
  max-height: 597px;
  max-width: 100%;
}
