.bg {
  filter: blur(200px);
  position: absolute;
  bottom: 0;
  right: -10%;
  z-index: -1;
}

.bg2 {
  filter: blur(300px);
  position: absolute;
  top: -10%;
  left: -10%;
  z-index: -1;
}

.bg3 {
  filter: blur(800px);
  position: absolute;
  top: 40%;
  left: 20%;
  z-index: -1;
}

.bg4 {
  filter: blur(20px);
  position: absolute;
  bottom: -10%;
  left: -10%;
}

.bg5 {
  filter: blur(600px);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.bg6 {
  filter: blur(300px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg7 {
  filter: blur(428px);
  position: absolute;
  bottom: -20%;
  left: -10%;
  z-index: -1;
}

.introImage {
  width: 120vw;
  margin-left: 55%;
  margin-top: -25%;
  margin-bottom: -10%;
  transform: translateX(-50%);
}

.womenImg {
  width: 939px;
  height: 1151px;
}

.imageWrapper {
  position: relative;
  margin-right: 50px;
  margin-left: -50px;
}

@media (max-width: 900px) {
  .imageWrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: -24px;
    margin-right: -24px;
  }
}

.highlight {
  position: absolute;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
}

.scienceLink {
  font-size: 21px;
  text-decoration: underline;
  color: #494763;
  font-family: "SuisseIntl";
  letter-spacing: -0.02em;
}
