.womenImgOverlay {
  filter: blur(10px);
  position: absolute;
  bottom: -5%;
  left: -10%;
  width: 676px;
  height: auto;
  z-index: 103;
}

.brainImg {
  width: 120vw;
  margin-left: 55%;
  margin-top: -25%;
  margin-bottom: -10%;
  transform: translateX(-50%);
}

.animationWrapper {
  overflow-x: auto;
  overflow-y: hidden;
  margin-left: -50px;
  margin-right: -50px;
  padding-right: 50px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* To not overlap with the fixed menu at the top */
  z-index: 102;
}

.animationWrapper::-webkit-scrollbar {
  display: none;
}

.womenImgWrapper {
  position: relative;
  margin-right: 50px;
}

.womenImg {
  width: 939px;
  height: 1151px;
}

.gradient_text {
  background: linear-gradient(to right, rgba(114, 84, 220, 1), rgba(112, 141, 245, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .womenImg {
    width: 702px;
    height: 860px;
  }
}

@media (max-width: 900px) {
  .brainImg {
    width: 180vw;
  }
  .womenImgWrapper {
    margin-right: 30px;
  }
  .womenImg {
    width: 502px;
    height: 615px;
  }
  .animationWrapper {
    margin-left: -24px;
    margin-right: -24px;
    padding-right: 24px;
  }
  .womenImgOverlay {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .womenImg {
    width: 385px;
    height: 472px;
  }
  .womenImgOverlay {
    width: 300px;
    left: -15%;
    bottom: -5%;
  }
}

.scienceLink {
  font-size: 21px;
  text-decoration: underline;
  color: #494763;
  font-family: "SuisseIntl", Times, serif;
  letter-spacing: -0.02em;
}

.box.sticky {
  position: fixed;
  top: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.video {
  width: 26vw;
  animation: fadeIn 5s;
  transition: all 0.5s ease;
}

@media (max-width: 1600px) {
  .video {
    width: 35vw;
  }
}

@media (max-width: 1400px) {
  .video {
    width: 40vh;
  }
}

@media (max-width: 1200px) {
  .video {
    width: 50vw;
  }
}

@media (max-width: 900px) {
  .video {
    margin: 0 auto;
    width: 60vw;
  }
}

@media (max-width: 600px) {
  .video {
    width: 80vw;
  }
}

.videoFloating {
  position: fixed;
  top: 0;
}

.videoSticky {
  position: absolute;
  bottom: 0;
}

@media (max-width: 1600px) {
  .videoFloating {
    padding: 15vh 6vh;
  }
}

@media (max-width: 1400px) {
  .videoFloating {
    padding: 5vh 2vh;
  }
}

@media (max-width: 1200px) {
  .videoFloating {
    padding: 20vh 6vh;
  }
}

@media (max-width: 900px) {
  .videoFloating {
    left: 0;
    right: 0;
    padding: 10vh 6vh;
  }
  .videoSticky {
    left: 0;
    right: 0;
  }
}

@media (max-width: 600px) {
  .videoFloating {
    padding: 0vh 3vh;
  }
}
