.bg {
  filter: blur(200px);
  position: absolute;
  bottom: 0;
  right: -10%;
  z-index: -1;
}

.bg2 {
  filter: blur(300px);
  position: absolute;
  top: -10%;
  left: -10%;
  z-index: -1;
}

.bg3 {
  filter: blur(800px);
  position: absolute;
  top: 40%;
  left: 20%;
  z-index: -1;
}

.bg4 {
  filter: blur(20px);
  position: absolute;
  bottom: -10%;
  left: -10%;
  width: 676px;
  height: auto;
}

.bg5 {
  filter: blur(600px);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.bg6 {
  filter: blur(300px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg7 {
  filter: blur(428px);
  position: absolute;
  bottom: -20%;
  left: -10%;
  z-index: -1;
}

.brainImg {
  width: 120vw;
  margin-left: 55%;
  margin-top: -25%;
  margin-bottom: -10%;
  transform: translateX(-50%);
}

.animationWrapper {
  overflow-x: auto;
  overflow-y: hidden;
  margin-left: -50px;
  margin-right: -50px;
  padding-right: 50px;
}

.womenImgWrapper {
  position: relative;
  margin-right: 50px;
}

.womenImg {
  width: 939px;
  height: 1151px;
}

.womenImgAnimationHighlight {
  position: absolute;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
  width: 312px;
  height: auto;
}

@media (max-width: 1200px) {
  .womenImg {
    width: 702px;
    height: 860px;
  }
  .womenImgAnimationHighlight {
    width: 220px;
  }
}

@media (max-width: 900px) {
  .womenImgWrapper {
    margin-right: 30px;
  }
  .womenImg {
    width: 502px;
    height: 615px;
  }
  .womenImgAnimationHighlight {
    width: 180px;
  }
  .animationWrapper {
    margin-left: -24px;
    margin-right: -24px;
    padding-right: 24px;
  }
  .bg4 {
    width: 500px;
    left: -20%;
  }
}

@media (max-width: 600px) {
  .womenImg {
    width: 385px;
    height: 472px;
  }
  .womenImgAnimationHighlight {
    width: 115px;
  }
  .bg4 {
    width: 400px;
    left: -20%;
  }
}

.scienceLink {
  font-size: 21px;
  text-decoration: underline;
  color: #494763;
  font-family: "SuisseIntl";
  letter-spacing: -0.02em;
}
