.bg {
  filter: blur(600px);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.bg2 {
  filter: blur(600px);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.bg3 {
  filter: blur(600px);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.bg4 {
  filter: blur(600px);
  position: absolute;
  top: -30%;
  right: 0;
  z-index: -1;
}

.listItem {
  display: flex;
  margin-bottom: 20px;
}

.listItem::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid #5242ee;
  margin-right: 20px;
  box-sizing: border-box;
  margin-top: 7px;
}

.sliderArrow {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border: 1px solid rgba(49, 41, 55, 0.2);
}

.sliderArrow::before {
  display: none;
}
