.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 145px;
  flex-wrap: wrap;
  position: fixed;
  height: 85px;
padding: 0 55px;
justify-content: space-between;
align-items: center;
width: 100%;
background-color: white;
top: 0;
z-index: 600;
}




.menuListItemLink {
  position: relative;
  text-decoration: none;
  font-style: "SuisseIntl";
  line-height: 17px;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.4;
}
.menuListItemLinkActive:after {
  content: url("/images/elipse.svg");
  position: absolute;
  display: flex;
  top: calc(50% / 0.7);
  left: calc(50% - 7px / 2);
}
.logoLinkContainer {
  z-index: 101;
  position: absolute;

  display: flex;
  width: "10%";
  background-color: transparent;
}

@media (max-width: 900px) {
  .header {
    display: flex;
    flex-direction: row;
    position: absolute;
top:0;
margin: 0;
padding: 0 16px;
flex-wrap: nowrap;
height: 60px;
  }
  .logoLinkContainer {
top: 0;
 padding-left: 16px;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: "10%";
    height: 100%;
  }
}
