.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 145px;
  flex-wrap: wrap;
  position: relative;
  height: 35px;



  
}

.logoLinkContainer {

  position: absolute;

  display: flex;
  width: "10%";
}

.menuListItemLink {
  position: relative;
  text-decoration: none;
  font-style: "SuisseIntl";
  line-height: 17px;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.4;
}
.menuListItemLinkActive:after {
  content: url("/images/elipse.svg");
  position: absolute;
  display: flex;
  top: calc(50% / 0.7);
  left: calc(50% - 7px / 2);
}
.logoLinkContainer {
  z-index: 101;
  position: absolute;

  display: flex;
  width: "10%";
  background-color: transparent;
}


